<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right">
          </div>
          <div class="text-value">1600</div>
          <div>当前在线人数</div>
          <div class="mt-3 mx-3"></div>
        </div>
      </div>
    </div>
    <!-- /.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <div class="text-value">620</div>
          <div>今天新增人数</div>
          <div class="mt-3 mx-3"></div>
        </div>
      </div>
    </div>
    <!-- /.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="text-value">3680</div>
          <div>今日总局数</div>
          <div class="mt-3 mx-3"></div>
        </div>
      </div>
    </div>
    <!-- /.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div class="text-value">29823</div>
          <div>注册总人数</div>
          <div class="mt-3 mx-3"></div>
        </div>
      </div>
    </div>
    <!-- /.col-->
  </div>
  <!-- /.row-->
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="card-title mb-0">运营概况</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <div class="mt-3 mx-3" style="height:160px;"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row-->
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="card-title mb-0">服务器监控</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="mt-3 mx-3" style="height:160px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="#(BASE_PATH)/static/aiJ/js/main.js?v=#version()"></script>